<ion-header>
  <ion-toolbar color="primary">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-lg="2">
          <ion-title style="height: 100%;">About Us</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="{ slidesPerView: true, loop: true, pager: true }"  style="height: 50%" pager>
    <ion-slide><img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-122620,resizemode-1,msid-75214721/industry/services/retail/future-group-negotiates-rents-for-its-1700-stores.jpg" /></ion-slide>
    <ion-slide><img src="https://media.istockphoto.com/photos/3d-render-technology-store-picture-id1126678409?k=20&m=1126678409&s=612x612&w=0&h=OZsUBYyXUzpbu4vbyNRXX-BtFlAiD8z8eW6jQT-OULc=" style="height:100% !important"/></ion-slide>
    <ion-slide><img src="https://www.mobilissimo.ro/imgs/uploaded/images/Xiaomi/Xiaomi%20Store%20(2).jpg"></ion-slide>
    <ion-slide>
      <video controls style="height: 100%;">
        <source src="assets/microcenter.mp4" type="video/mp4">
        Your browser does not support the video tag.    
      </video>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col offset="4" size="4">
        <ion-item>
          <ion-label class="ion-text-center">We are based out of</ion-label>
        </ion-item>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45669.67281240235!2d23.771645613468582!3d44.32321800520366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d70e6d6dcd07%3A0x4650f2eadbde99f9!2sCraiova!5e0!3m2!1sro!2sro!4v1647171493336!5m2!1sro!2sro" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>      </ion-col>
    </ion-row>
    <ion-row>
      <iframe id="vp1KLZnU" title="Video Player" width="360" height="360" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1651506582&f=KLZnU3W6D8QzN8GeyhC5PA&d=0&m=p&r=360x360+720x720&volume=100&start_res=720x720&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options=" allowfullscreen></iframe> 
    </ion-row>
    <ion-row>
      <ion-col offset="4" size="4">
        <ion-item>
          <ion-label>Theme song</ion-label>
          <audio controls="controls" src="assets/song.mp3">
            Your browser does not support the HTML5 Audio element.
          </audio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
